* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 15% 10% 1fr 10% 15%;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}

.box1, .box7 { background: #dae6f6; }
.box2, .box6 { background: #f2f6e8; }
.box3 { background: white; }
.box4, .box5 { background: #f8ece2; }

.box1 { grid-column: 1 / 4; grid-row: 1 / 2; }
.box2 { grid-column: 1 / 2; grid-row: 2 / 3; }
.box3 { grid-column: 2 / 3; grid-row: 3 / 4; }
.box4 { grid-column: 3 / 4; grid-row: 2 / 5; }
.box5 { grid-column: 1 / 2; grid-row: 3 / 5; }
.box6 { grid-column: 2 / 3; grid-row: 4 / 5; }
.box7 { grid-column: 1 / 4; grid-row: 5 / 6; }

.x, .y {
  position: absolute;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 24px;
}

.x {
  top: 5%;
  right: 6%;
}

.y {
  bottom: 5%;
  right: 3%;
}

.box p {
  font-size: 16px;
  padding: 10px;
}

ol {
  text-align: left;
  margin-left: 20px;
}

ul {
  text-align: left;
  margin-left: 20px;
}

.image-map-container {
  position: relative;
  display: inline-block;
}

.hover-circle {
  position: absolute;
  border: 2px solid red;
  border-radius: 50%;
  pointer-events: none; 
  opacity: 0;
  transition: opacity 0.3s;
}

.image-map-container:hover .hover-circle {
  opacity: 0.5;
}